.modal {

    position: fixed;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    background-color: rgb(51, 65, 85, 0.5);
    opacity: 0.95;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1000;

}

.modal-wrapper {

    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 24px 16px;
    gap: 28px;
    width: 80%;
    height: 321px;
    background: #F8FAFC;
    border-radius: 8px;
    z-index: 1000;

}



.heading-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.heading-wrapper h3 {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 800;
    font-size: 24px;
    line-height: 29px;
    letter-spacing: -0.02em;
    text-transform: capitalize;
    color: #000000;
}

.form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 12px 16px;
    gap: 10px;

}

.form input {
    border: none;
    outline: none;
    background: #ffffff;
    border: 1px solid #F1F9FF;
    border-radius: 8px;
    width: 100%;
    padding: 12px 16px;



    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: rgba(30, 41, 59, 0.6);
}

.form button {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 16px;
    gap: 10px;
    width: 80%;
    height: 48px;
    background: #489DDA;
    border-radius: 100px;
    border: none;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    text-align: center;
    letter-spacing: 1px;
    text-transform: uppercase;
    color: #F8FAFC;
}

.dots {
    display: flex;
    gap: 1px;
}