.card-wrapper {
    display: flex;
    flex-direction: column;
    border: 1px solid #E8F3FC;
    background: #FFFFFF;
    border-radius: 8px;

    border-left-width: 10px;
    padding: 10px;
    flex: 1;
}


.title {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.staff-member {
    display: flex;
    align-items: center;
    gap: 10px;
}

.line-divider {
    width: 100%;
    border: 0.4px solid #0D4477;
}

.moreinfo {
    display: flex;
    gap: 5px;
    align-items: center;
    justify-content: center;
    cursor:pointer;
}